<template>
  <v-row class="d-flex justify-center page">
    <v-col cols="6" class="mt-10">
      <v-row class="d-flex justify-center align-center">
        <h1>
          Error Not Found
          <v-icon x-large color="red">mdi-emoticon-dead-outline</v-icon>
        </h1>
      </v-row>
      <v-row class="d-flex justify-center">
        <!-- Named route ! -->
        <v-btn :to="{ name: 'Home'}">Come Back</v-btn>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "ErrorPage",
};
</script>

<style lang="scss" scoped>
.page {
  max-height: 100vh;
  height: 100%;
}
</style>
