<template>
  <div>
    <v-col class="d-flex align-center flex-column">
        <v-row>
            <h1>Bienvenue sur le tutoriel VueJs !</h1>
        </v-row>
        <v-row>
            <p>Vous allez apprendre comment utiliser VueJs simplement, par quelques exemples</p>
        </v-row>
         <v-row class="d-flex align-center justify-center">
            <p class="mb-0 mr-5">Cliquez ici pour commencer : </p> <v-btn :to="{name: 'Tutorial' }">  Commencer </v-btn>
        </v-row>
    </v-col>
  </div>
</template>

<script>
// import HelloWorldVue from '@/components/HelloWorld.vue';
export default {
  name: "HomePage",
//   components: {
//     HelloWorldVue,
//   },
};
</script>

<style lang="scss" scoped></style>
