<template>
    <div>
        <HelloWorldVue />
    </div>
</template>

<script>
import HelloWorldVue from "@/components/HelloWorld.vue"
    export default {
        name: "LoginPage",
        components: {
            HelloWorldVue
        }
    }
</script>

<style lang="scss" scoped>

</style>