<template>
  <v-row class="d-flex justify-center">
    <v-col cols="8">
        <h1 class="font-weight-regular text-center mb-4">Voici les principales sections que nous allons voir dans ce tutoriel</h1>
      <v-expansion-panels>
        <v-expansion-panel>
          <v-expansion-panel-header color="accent"> Boucle For </v-expansion-panel-header>
          <v-divider></v-divider>
          <v-expansion-panel-content>
            <LoopVue />
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header color="orange"> Appel API</v-expansion-panel-header>
          <v-divider></v-divider>
          <v-expansion-panel-content>
            <ApiCallComponent />
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-col>
  </v-row>
</template>

<script>
import LoopVue from '@/components/Loop.vue';
import ApiCallComponent from '@/components/ApiCall.vue';

export default {
  name: "TutorialPage",
  components : {
    LoopVue,
    ApiCallComponent
  }
};
</script>
