<template>
  <v-row>
    <v-col>
        <p class="mt-4">Pour faire des appels sur des API, on peut utiliser Axios (<a href="https://fr.vuejs.org/v2/cookbook/using-axios-to-consume-apis.html" target="_blank">Voir documentation</a>) :</p>
         <v-alert type="info" dense  border="bottom">
            <p class="px-5 mx-2 mb-1"> Vérifier si la dépendance est installée sur le projet depuis le fichier <code>package.json</code></p>
        </v-alert>
        <p>Voici un petit bout de code utilisé pour faire un simple appel API : </p>
        <code v-pre>
            axios.get("https://dog.ceo/api/breeds/image/random").then(response => console.log('response', reponse))
        </code>
        <p class="mt-4">Ce petit bout de code récupère une image de chien aléatoire via API</p>
        <v-row>
            <p class="ml-3 mr-4"> Voici un petit exemple</p>
            <v-btn dense small @click="getRandomImage">Lancer l'appel</v-btn>
        </v-row>
        <v-row v-if="image != ''">
            <v-img :src="image" contain class="frame"/>
        </v-row>
    </v-col>
  </v-row>
</template>

<script>
import axios from 'axios';
export default {
    name: "ApiCallComponent",
    data: () => ({
        image: ''
    }),
    methods: {
        getRandomImage() {
            axios
                .get("https://dog.ceo/api/breeds/image/random")
                .then(response => {
                    this.image = response.data.message 
                })
        }
    }
};
</script>

<style lang="scss" scoped>
.frame {
    max-height: 500px;
}
</style>
