<template>
  <v-container>
    <v-row class="d-flex justify-center">
      <v-col cols="6" >
        <v-card elevation="2">
          <v-card-title class="primary white--text" > Login Page</v-card-title>
          <v-card-subtitle class="text-left primary white--text">Please log in</v-card-subtitle>
          <v-divider></v-divider>
          <v-card-text>
            <!-- Form start here -->
            <v-form v-model="valid">
              <v-text-field placeholder="Username" prepend-icon="mdi-at"></v-text-field>
              <!-- type Password not changing-->
              <v-text-field placeholder="Password not changing" type="password"></v-text-field>
              <!-- type Password changing dynamically -->
              <v-text-field placeholder="Password" :type="viewPassword ? 'text' : 'password'" :append-icon="viewPassword ? 'mdi-eye-off': 'mdi-eye'" @click:append="viewPass"> </v-text-field> 
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'HelloWorld',

    data: () => ({
      valid: false,
      viewPassword: false
    }),
    // All basics functions are here
    methods: {
      viewPass() {
        this.viewPassword = !this.viewPassword
      }
    }
  }
</script>
