<template>
  <v-row>
    <v-col>
      <v-row>
        <p class="pa-5">
          Pour utiliser les boucles de rendu avec VueJs, nous allons voir un
          exemple tout simple :
        </p>
        <code lang="js" class="my-4">
           v-for 
        </code>
        </v-row>
        <v-row>
        <v-alert type="info" dense  border="bottom">
            <p class="px-5 mx-2 mb-1"> Pour bien gérer la boucle il faut ajouter l'attribut<code class="mx-1">v-bind:key</code> ou <code class="mx-1">:key</code> en indiquant une clé unique pour chaque item</p>
        </v-alert>
        
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "LoopComponent",
  data: () => ({}),
};
</script>

<style lang="scss" scoped>
code {
    height: fit-content;
}
</style>
